body{
text-align: center; 
font-family: Arial, sans-serif; 
background-color: rgb(207, 146, 224);
}



h1{
text-decoration: underline;
font-size: 35px;
text-align: center;
line-height: normal;
padding: 18px;
line-height: normal;
}



h2{
font-size: 25px;
}



.image-container{
display: flex; 
justify-content: center; 
gap: 20px; 
padding: 20px;
}


figure{
background-color: rgb(207, 146, 224); 
border-radius: 20px; 
box-shadow: 10 20px 15px rgb(0, 0, 0); 
overflow: hidden;
max-width:300px; 
}

figure:hover{
filter: brightness(100%) contrast(115%) saturate(90%);
transform: scale(1.1); 
}


img{
height: auto; 
width: 100%; 
}



figcaption{
padding: 8px;
font-size: 14px; 
color: #000000;
background-color: rgb(158, 105, 172); 
border-top: 2px solid #000000; 
border-radius: 20px; 
}