  /*Body styling sets font styke, background color, color, line-height */
body {
  font-family: Arial, sans-serif;
  background: #f9f9;
  color: #333;
  padding: 8px;
  line-height: 1.5;
  }

  /*For header section to desgin and color them*/

header{
background-color: #17072b; /*Add color to background*/
color: white;
text-align: center; /*Put the whole text as per your requirment right, left, center.*/
padding: 15px; 
}


/*Navigation bars styling*/

nav{
background-color: #5060c7;
text-align: center;
padding: 5px;
}


/*Navigation layout*/

nav ul{
list-style: none;    /*Removes bullet points*/
justify-content: center;
gap: 12px;    /*Put spaces between them*/
display: flex;  
}


/*Navigation Links*/
nav a{
text-decoration: none;
color: white;
font-weight: bold;
}


/*Navigation hover Link effect*/
nav a:hover{
  text-decoration: underline;
}


/*Main gridlayout for all three columns*/
.grid-layout {
margin: 15px 5;
display: flex;
gap: 10px;
flex-wrap: wrap;
justify-content: space-between; 
}


/*Design for All three column*/
.column{
min-width: 200px;
background-color: rgba(255, 255, 255, 0.664);
padding: 15px;
border-radius: 5px;
border: 1px solid #a00f0f;
flex: 1;
}


/*Styling to button*/
.btn{
display: inline-block;
margin-top: 10px;
cursor: pointer;
color: white;
padding: 12px 20px;
border: none;
border-radius: 5px;
background-color: rgb(5, 54, 99) ;
}


.btn:hover{
background-color: #3f51bf;
}



/*Footer Styling*/
footer{
text-align: center;
padding: 9px;
background-color: #8c15e9;
font-size: 13px;
}