  /*Body styling sets font styke, background color, color, line-height */
body {
  font-family: Arial, sans-serif;
  background: #f9f9;
  color: #333;
  padding: 8px;
  line-height: 1.5;
  }

  /*For header section to desgin and color them*/

header{
background-color: #17072b;
color: white;
text-align: center;
padding: 15px;
}


/*Navigation bars styling*/

nav{
background-color: #3949ab;
text-align: center;
padding: 5px;
}


