

/* Body styling */
body {
font-family: Arial, sans-serif;
background-color: #ffffff;
color: #000000;
line-height: 1.6;
}

/* Header styling */
header {
background-color: #17072b;
color: #ffffff;
text-align: center;
padding: 20px 0;
}

header h1 {
font-family: Tahoma, sans-serif;
font-weight: 700;
font-size: 2.5em;
text-decoration: underline;
}

/*Navigation Designing*/
nav {
background-color: #17072b;
text-align: center;
padding: 10px 0;
}

nav ul {
list-style: none;
display: flex;
justify-content: center;
gap: 40px;
}

nav a {
text-decoration: none;
color: #ffffff;
font-size: 1.2em;
}

/*Main content layout*/
.class.container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 30px;
gap: 30px;
}

/*Welcoming Section */
.main.section {
flex: 1 1 65%;
}

.main.section h2 {
font-size: 1.8em;
font-weight: bold;
text-decoration: underline;
margin-bottom: 15px;
}


.main.section p {
font-size: 1.1em;
margin-bottom: 20px;
}


.Images img {
border: 1px solid #ccc;
height: auto;
width: 100%;
}


.side-panel {
padding: 20px;
flex: 2 2 25%;
color: #fff;
background-color: #172d67;
}

.side-panel ul {
padding-left: 0;
list-style-type: none;
}

/*Side panel li styling*/
.side-panel li {
font-size: 0.9em;
margin: 5px 0;
}

/*Footer design*/
footer {
font-size: 1.0em;
background-color: #9b2af1;
color: white;
text-align: center;
padding: 20px ;
width: 100%;
clear: both;
margin-top: 30px;
margin-bottom: 100px;
font-weight: bold;
}
