body{
justify-content: center;
margin: 0px;
height: 50vh;
background-color: #ffffff;
display: flex;
padding: 250px;
background-color: black;
}


video{
max-width: 50%;
height: auto;
margin-bottom: 0%;

}
